@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    font-family: "Lato", serif;
}

h1 {
    color: #000;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.text-one {
    color: #FF8000;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    width: 60%;
    margin: 0 auto;
}

.first-container {
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 47px;
}

.first-container h3 {
    margin-top: 45px;
    margin-bottom: 0;
    color: #D9AE00;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.first-container p {
    color: #6D81B4;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    width: 98%;
    line-height: 22px;
    letter-spacing: 1px;
}

.second-container {
    margin-top: 80px;
    width: 625px;
    display: flex;
    gap: 30x;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 64px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    background-color: #FFCEBE;
    margin-left: 47px;
}

.second-container h3 {
    margin: 0;
    color: #F44E50;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.second-container p {
    color: #8B2B2C;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    width: 525px;
}

.third-container {
    margin-top: 80px;
    margin-left: 47px;
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.third-container h3 {
    color: #4716E4;
text-align: right;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin: 0;
}

.third-container p {
    color: #616161;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.pink-container {
    padding: 16px;
    border: 2px solid #FF5DA3;
    background-color: #FFC1E3;
}

.key-points-container h4 {
    color: #414651;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.key-points-container li {
    color: #C27512;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

ol {
    list-style: none;
    padding-left: 0;
    margin-top: 12px;
}

ol li {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 0 8px 2em;
}

ol li::before {
    content: '•';
    font-size: 3em;
    color: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}